/* .themify_builder_content-4435 > .module_row_0 Style */
.themify_builder_content-4435 > .module_row_0.module_row {
	background-color: #ffc90a;
	text-align: justify;
	padding-bottom : 0px;
	margin-top : 0px;
	margin-right : 0px;
	margin-bottom : 0px;
	margin-left : 0px
}

